


.haupthaus-list {
    padding-top: 50px;
    /*display: flex;
    flex-wrap: wrap;*/
    height: 16em;
    overflow-y: auto;
    position: relative;
}

.show_all {
    margin-top: 20px;

}

.haupthaus-list .item {
    font-size: 14px;
    padding: 5px 0;
   display: block;
   
}

.haupthaus-list .item span {
    display: none;   
}

.abschaltung-angepasst {
    display: none;
}