/*Für alle GUT Detailseiten (ohne Karte) */


.single-unternehmen h1{
    text-transform: uppercase; 
}
.single-unternehmen h1 span{
    text-transform: none; 
}

.single-unternehmen .header_22 .parent_unternehmen {
    display: none;
}