
.entry-title{
  font-weight:bold;
  text-decoration: underline solid #f9c349;
  padding-left:2vw;
  
}

.entry-title > span{
  font-style: italic;
  }

.description-company-page{
  font-size:30px;  
  padding-left:2vw;
}

.page-child .entry-header{
  margin-top:16px;
}

body.page .entry-content .wrapper-liste {
  max-width: 720px;
}

.hauptverwaltung .unternehmenseintrag {
  border-top: solid #f9c349;
  border-bottom: solid #f9c349;
}

.unternehmenseintrag-filter{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.parent-unternehmen h3 a {
  padding-right: 15px;
  display: block;
}

.ionicon-chevron-down {
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 20%;
  background-color:#f9c44981;
  cursor: pointer;
}

.ionicon-chevron-down:hover,
.ionicon-chevron-down:active {
 opacity: 0.7;
}




.child-unternehmen-block {
  margin: 10px 20px 40px 20px;
}

.unternehme .child-unternehmen-block {
  display: none;
}

.unternehme.child-block-open .child-unternehmen-block,
.unternehme  .show_children ~ .child-unternehmen-block {
  display: block;
}

.unternehmen .unternehmenseintrag .text {
  /* display: grid;
  /* grid-template-columns: auto min-content; */
  /* grid-template-columns: 1fr; */
}

/* .unternehmen .unternehmenseintrag .text h3 {
  grid-column: 1/-1;
}
.unternehmen .unternehmenseintrag .text .map_link_point {
  grid-row: 3;
}
.unternehmen .unternehmenseintrag .text .ionicon-chevron-down {
  grid-row: 2/4;
  grid-column: 2;
  align-self: center;
} */

.page .unternehmen .child-unternehmen .logo-wrapper {
  display: none;
}

.page  .child-unternehmen.unternehmenseintrag .text {
  padding-left: 0;
  }


.page  .child-unternehmen.unternehmenseintrag .text h3 {
font-size: 20px;
line-height: 1.2em;
}


.child-unternehmen h3 a {
  pointer-events: none;
  }

  .page .leaflet-popup-content {
    color: #fff;
  }

  @media only screen and (max-aspect-ratio: 1/1) { /*für hochkant*/
    
    body.page .entry-content .wrapper-liste {
      max-width: 400px;
    }

    .hauptverwaltung .unternehmenseintrag {
      padding: 10px 0;
    }
  }