
.entry-title{
  font-weight:bold;
  text-decoration: underline solid #f9c349;
  padding-left:2vw;
  
}

.entry-title > span{
  font-style: italic;
  }

.description-company-page{
  font-size:30px;  
  padding-left:2vw;
}

.page-child .entry-header{
  margin-top:16px;
}


.unternehmenseintrag-filter{
  position: relative;
}

.ionicon-chevron-down {
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 20%;
  background-color:#f9c44981;
  cursor: pointer;
}




.child-unternehmen-block {
  margin: 10px 20px 40px 20px;
}

.unternehme .child-unternehmen-block {
  display: none;
}

.unternehme.child-block-open .child-unternehmen-block {
  display: block;
}

.unternehmen .unternehmenseintrag .text {
  /* display: grid;
  /* grid-template-columns: auto min-content; */
  /* grid-template-columns: 1fr; */
}

/* .unternehmen .unternehmenseintrag .text h3 {
  grid-column: 1/-1;
}
.unternehmen .unternehmenseintrag .text .map_link_point {
  grid-row: 3;
}
.unternehmen .unternehmenseintrag .text .ionicon-chevron-down {
  grid-row: 2/4;
  grid-column: 2;
  align-self: center;
} */

.child-unternehmen .logo-wrapper {
  display: none;
}

.page  .child-unternehmen.unternehmenseintrag .text {
  padding-left: 0;
  }


.page  .child-unternehmen.unternehmenseintrag .text h3 {
font-size: 20px;
line-height: 1.2em;
}


.child-unternehmen h3 a {
  pointer-events: none;
  }


