.page .site-content .ast-container {
  max-width: 100vw;
  padding: 0;
}
.page .ast-container #primary {
  margin: 0;
}
.page .ast-article-single {
  padding: 0;
}
#main .page {
  background-color: #1e1810;
}
.page .entry-header {
  margin-bottom: 0;
}
.page .navicon-close {
  display: none;
}
.page .entry-content {
  min-height: 100vh;
}

.page #my_map {
  z-index: 1000;
}

/*WYSIWYG Bug*/
.page #my_map + p {
  margin: 0;
  padding: 0;
}

/* Left Area*/
.left-side {
  font-size: 16px;
}

.page .left-side h1 {
  line-height: 1.2em;
  padding-left: 0;
  padding-top: 1em;
  font-size: 2.5em;
}

.page .entry-content .wrapper-liste {
  padding-bottom: 45vh;
  z-index: 9;
  background-color: #1e1810;
  position: relative;
}

.page .abschaltung.filter {
  padding-left: 5px;
  padding-bottom: 15px;
}

.page .abschaltung.filter p {
  margin-bottom: 5px;
}

.page .unternehmen .logo-wrapper {
  max-width: 10em;
  min-width: 10em;
  height: 7.25em;
  background-color: #fff;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.page .unternehmen .logo-wrapper img {
  max-height: 7.25em;
  width: auto;
  padding: 0.5em;
}

.page .unternehmen .logo-wrapper img:hover,
.page .unternehmen .logo-wrapper img:active {
  opacity: 0.5;
}

.page .unternehmen a {
  text-decoration: none;
}

.unternehmenseintrag {
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  padding: 10px 0px;
  display: flex;
}

/* 
** Style for Firmengruppen : z.B. G-U-T gruppen Beitrag block
 */
.unternehmenseintrag.fg-page,
.unternehmenseintrag.firmengruppen {
  border-top: solid 1px #f9c349;
  border-bottom: solid 1px #f9c349;
}
.unternehmenseintrag.firmengruppen + .unternehmenseintrag {
  border-top: unset;
}
/* .unternehmenseintrag + .unternehmenseintrag.firmengruppen{
  border-bottom: unset;
} */

.page .firmengruppen {
  display: grid;
  grid-template-columns: min-content auto;
}

.page .firmengruppen p {
  grid-column: 1/-1;
}

.firmengruppen .map_link_point {
  display: none;
}

.dropdown-wrapper .child-unternehmen-block {
  display: none;
  margin: 10px 20px 40px 20px;
}
.dropdown-wrapper.child-block-open .child-unternehmen-block {
  display: block;
}

.page .unternehmenseintrag .text {
  padding-left: 10px;
  align-self: center;
  width: 100%;
}

.page .unternehmen .unternehmenseintrag h3 {
  font-size: 28px;
  line-height: 1;
  padding: 0.25em 0;
  margin-bottom: 0;
}

.page .unternehmen .unternehmenseintrag h3 a:hover,
.page .unternehmen .unternehmenseintrag h3 a:active {
  color: #f9c349;
}

.page .map_link_text {
  line-height: 1em;
  padding-bottom: 1em;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}

.page .map_link_text:not(.alle)::before,
.page .fa-map::before,
.firmengruppen .alle a::before {
  font-family: "Font Awesome 5 Free";
  padding: 5px;
  font-size: 18px;
  content: "\f279";
  font-style: normal;
}
.page .fa-external-link-alt::before {
  font-family: "Font Awesome 5 Free";
  padding: 5px;
  font-size: 14px;
  content: "\f35d";
  font-style: normal;
}

.page .map_link_text:hover,
.page .map_link_text:active {
  opacity: 0.5;
}

.page .adresse {
  font-size: 1em;
  padding-bottom: 1.25em;
}

.abschaltung_zeit {
  font-size: 0.95em;
  padding-bottom: 1em;
  line-height: 1.2em;
}
.abschaltung_zeit span {
  color: #aadaff;
  /* color: #71c3fb; */
}

.unternehmenseintrag--dropdown h3,
.unternehmenseintrag--dropdown .alle,
.unternehmenseintrag--dropdown .logo-wrapper {
  cursor: pointer;
}
.unternehmenseintrag--dropdown h3:hover,
.unternehmenseintrag--dropdown .alle:hover,
.unternehmenseintrag--dropdown .icon-click-area:hover {
  opacity: 0.5;
}
.unternehmenseintrag--dropdown .alle,
.firmengruppen .alle {
  /* font-size: 0.95em; */
  line-height: 1.2em;
  padding-bottom: 1em;
}

.icon-click-area {
  position: absolute;
  right: 0;
  bottom: 1em;
}
.ionicon-chevron-down {
  height: 2em;
  background-color: #f9c44981;
  cursor: pointer;
}
.unternehmenseintrag--dropdown {
  position: relative;
}
.firmengruppe_num {
  font-size: 1em;
  line-height: 1.2em;
  font-style: italic;
}

/* Borlabs */

body .BorlabsCookie ._brlbs-content-blocker ._brlbs-caption a {
  color: #f9c349;
}

body .BorlabsCookie ._brlbs-content-blocker p {
  max-width: 80vw;
  margin: 0 auto;
}

body .BorlabsCookie ._brlbs-content-blocker a._brlbs-btn {
  background-color: none;
  border: 4px solid #f9c349;
  color: #f9c349;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  text-transform: lowercase;
  font-size: 20px;
}

body .BorlabsCookie ._brlbs-content-blocker a._brlbs-btn:hover,
body .BorlabsCookie ._brlbs-content-blocker a._brlbs-btn:active {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}

.page #my_map {
  width: 100vw;
  /* position: fixed; 
    bottom: 0px;
    top: auto;
    left: 0;
    z-index: 9; 
    border-top: 20px solid #1e1810;
	*/
}

.page #my_map {
  height: 50vh;
  min-height: 100px;
}

.page .leaflet-touch .leaflet-control-layers,
.page .leaflet-touch .leaflet-bar {
  box-shadow: none;
  border: none;
}

/*Suchfunktion*/

.page .leaflet-control-container .leaflet-control-geocoder-form {
  display: block;
  max-width: 250px;
  width: 250px;
}

.page .leaflet-control-container .leaflet-control-geocoder-form input {
  text-align: center;
}

.page .leaflet-control-geocoder .leaflet-control-geocoder-icon {
  display: none;
}

.page .leaflet-control-zoom-in,
.page .leaflet-control-zoom-out,
.page .leaflet-control-geocoder-form,
.page .leaflet-control-geocoder-form:focus,
.page .leaflet-control-geocoder-form input[type="text"],
.page .leaflet-control-geocoder-form input::placeholder,
.page .leaflet-control-geocoder-form-no-error,
.page .leaflet-control-geocoder-error,
.page .leaflet-control-geocoder-alternatives {
  background-color: rgba(30, 24, 16, 0.9);
  color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.page .leaflet-control-geocoder-form input,
.page .leaflet-control-geocoder-alternatives {
  width: 100%;
}

.page .leaflet-control-geocoder-alternatives li:hover,
.page .leaflet-control-geocoder-alternatives li:active,
.page .leaflet-control-geocoder-selected {
  background-color: rgba(30, 24, 16, 0.9);
}

.page .leaflet-control-geocoder-alternatives a,
.page .leaflet-control-geocoder-alternatives span {
  color: #fff;
  width: 100%;
}

.page .leaflet-marker-icon div {
  background-color: rgba(1, 3, 85, 0.8);
  box-shadow: 0 0 30px 30px rgba(1, 3, 85, 0.5);
  border: 1px solid #abb8c3;
}

.page #my_map .leaflet-popup-content-wrapper,
.page #my_map .leaflet-popup-tip {
  background-color: rgba(30, 24, 16, 0.9);
  border-radius: 0;
  color: #fff;
}

.page #my_map .leaflet-popup-content > p:nth-child(2) {
  color: #fff;
  font-size: 90%;
}

/* .page #my_map .leaflet-popup span {
  color: #fff;
} */

.page #my_map .leaflet-popup a {
  color: #f9c349;
}

.page #my_map .leaflet-popup a:hover,
.page #my_map .leaflet-popup a:active {
  opacity: 0.5;
}

.page #my_map .leaflet-popup a::after {
  content: "";
}

.page #my_map .leaflet-popup .leaflet-popup-close-button::after {
  content: "";
}

.page .firmen-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 9999;
  width: 100px;
  height: 100px;
  font-size: 0px;
  box-shadow: 0 0 10px 3px #666;
}

.page .firmen-toggle .firmen-show {
  display: none;
}

.page .firmen-toggle .firmen-hide::after,
.page .firmen-toggle .firmen-show::after {
  font-family: "Font Awesome 5 Free";
  background-color: #f9c349;
  color: #000;
  font-size: 30px;
  border-radius: 2px;
  line-height: 30px;
  padding: 10px;
  cursor: pointer;
}

.page .firmen-toggle .firmen-hide::after {
  content: "\f060";
}

.page .firmen-toggle .firmen-show::after {
  content: "\f061";
}

.page .firmen-toggle:hover,
.page .firmen-toggle:acttive {
  opacity: 0.5;
}

/* Firmenliste Show/Hide */
.page.firmen-hide .entry-content h1,
.page.firmen-hide .wrapper-liste,
.page.firmen-hide .firmen-toggle .firmen-hide {
  display: none;
}

.page.firmen-hide .firmen-toggle .firmen-show {
  display: flex;
}

.page.firmen-hide #my_map {
  width: 100vw;
}

.leaflet-control-container .leaflet-top.leaflet-left {
  bottom: 30px;
  top: auto;
  right: 10px;
  left: auto;
}

.page .site-footer {
  z-index: 9;
  position: relative;
}

@media only screen and (max-width: 1349px) {
  .page .unternehmen .logo-wrapper {
    max-width: 8em;
    min-width: 8em;
    height: 6.5em;
  }

  .page .unternehmen .logo-wrapper img {
    max-height: 7em;
  }
}
/* overwrite */
@media (max-width: 1080px) {
  .page .unternehmen .unternehmenseintrag h3,
  .page .unternehmen .unternehmenseintrag h3 a {
    font-size: 28px;
  }
}

@media only screen and (max-width: 980px) {
  html {
    margin-top: 0 !important;
  }

  .ast-mobile-header-wrap .ast-primary-header-bar,
  .ast-primary-header-bar .site-primary-header-wrap {
    min-height: 55px;
  }
  .page .main-header-bar {
    padding: 0;
  }

  .page .custom-logo {
    max-width: 100px;
  }

  .page .ast-button-wrap .menu-toggle.main-header-menu-toggle {
    padding: 10px;
  }

  .page .entry-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .page .entry-content h1 {
    font-size: 2em;
    order: 2;
    display: flex;
    /* margin-top: 45vh; */
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .page .firmen-toggle {
    height: 75px;
    width: 75px;
    order: 4;
  }

  .page .firmen-toggle .firmen-hide::after,
  .page .firmen-toggle .firmen-show::after {
    font-size: 15px;
    line-height: 15px;
  }

  body.page .entry-content .wrapper-liste {
    padding-top: 20px;
    order: 3;
    margin-top: 0;
  }

  /* .page .map_link_point::before,
  .firmengruppen .alle a::before {
    font-size: 12px;
    padding-top: 0;
  } */
  .page .fa-external-link-alt::before {
    font-size: 10px;
    padding-top: 0;
  }

  /* .page .entry-content .unternehmenseintrag.firmengruppen {
    padding: 10px 0;
  } */

  .page #my_map {
    order: 1;
    display: flex;
    /*   top: 36px; */
  }

  .leaflet-control-container .leaflet-top.leaflet-left {
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
  }

  .page .leaflet-control-attribution.leaflet-control {
    font-size: 12px;
  }

  .leaflet-top.leaflet-right {
    max-width: 205px;
  }

  .leaflet-top.leaflet-right .leaflet-control-geocoder-form input {
    font-size: 14px;
    line-height: 1.2em;
    padding: 10px;
  }

  /* Fullscreen */

  .page.firmen-hide #my_map {
    height: 85vh;
  }
}

@media (max-width: 544px) {
  .page .unternehmen .logo-wrapper {
    max-width: 6.25em;
    min-width: 6.25em;
    height: 5em;
  }
  .page .unternehmen .logo-wrapper img {
    max-height: 5.5em;
  }

  .page .unternehmen .unternehmenseintrag h3,
  .page .unternehmen .unternehmenseintrag h3 a {
    font-size: 26px;
  }

  /* .firmengruppe_num, 
  .page .adresse {
    font-size: 0.9em;
  }
  .abschaltung_zeit, 
  .unternehmenseintrag--dropdown .alle, .firmengruppen .alle {
    font-size: 0.8em;
  } */
}
@media only screen and (min-width: 1081px) {
  .page .site-header-primary-section-left,
  .page .site-header-above-section-right,
  .page .ast-above-header-wrap {
    display: none;
  }

  .page .site-header-primary-section-right {
    justify-content: flex-start;
  }

  .page .site-header-primary-section-right::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    line-height: 30px;
    background-color: #f9c349;
    color: #000;
    padding: 15px;
    margin-right: 30px;
    border-radius: 2px;
    cursor: pointer;
  }

  /* Show/Hide Navi */
  .page.nav-show-22 .site-header-primary-section-left,
  .page.nav-show-22 .site-header-above-section-right,
  .page.nav-show-22 .ast-above-header-wrap {
    display: block;
  }

  .page.nav-show-22 .site-header {
    width: 100vw;
    z-index: 1001;
  }

  .page.nav-show-22 #ast-desktop-header {
    width: 100vw;
    display: block;
  }

  .page.nav-show-22 .site-header-primary-section-right::before {
    display: none;
  }

  .page.nav-show-22 .navicon-close {
    display: block;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    left: 20px;
    width: 1px;
    font-size: 0;
    z-index: 99999999;
  }

  .page.nav-show-22 .navicon-close::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    line-height: 30px;
    background-color: #f9c349;
    color: #000;
    padding: 15px;
    margin-right: 30px;
    border-radius: 2px;
    display: inline;
    visibility: visible;
    z-index: 9999999;
    position: absolute;
    margin-top: 1.2em;
  }

  .page.nav-show-22 #ast-hf-menu-1 a {
    font-size: 18px;
  }

  /*Suchfunktion*/

  .page .leaflet-control-container .leaflet-control-geocoder-form {
    display: block;
    max-width: 300px;
    width: 300px;
  }
}
.entry-content.clear::before {
  display: none;
}
/* Landscape mode */
@media only screen and (min-aspect-ratio: 1/1) {
  body.page .entry-content {
    display: grid;
    grid-template-columns: 50vw 50vw;
  }

  body.page .entry-content > :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 0;
    padding: 0 2vw;
  }

  .page .wrapper-liste {
    grid-column: 1/2;
    grid-row: 2/3;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0vh 2vw 2vh 2vw;
    min-height: 100vh;
  }

  .page .abschaltung.filter {
    padding-left: 0;
  }

  .page .unternehmenseintrag {
    width: 100%;
    /* padding-left: 0; */
  }

  .page .unternehmenseintrag .text {
    padding-left: 10px;
  }

  .page .BorlabsCookie ._brlbs-content-blocker {
    grid-column: 2/3;
  }

  .page #my_map {
    height: 85vh;
    width: 50vw;
    display: block;
    border: none;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 0;
  }

  /* Fullscreen */

  .page.firmen-hide #my_map {
    height: 85vh;
    grid-column: 1/3;
  }
}

@media only screen and (min-aspect-ratio: 1/1) and (min-width: 1081px) {
  .page .section-header-mobile-trigger {
    display: none;
  }

  .page .site-header {
    width: 50vw;
    background-color: #1e1810;
  }

  .page #ast-desktop-header {
    width: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #000;
    padding-right: 15px;
  }

  .page .site-header-primary-section-right::before {
    margin-left: 30px;
  }

  .page .site-header .site-primary-header-wrap {
    padding: 0;
  }

  .page .site-header .custom-logo {
    margin: 0;
  }

  .page #my_map {
    position: fixed;
    right: 0;
    left: auto;
    top: 0;
    bottom: auto;
    height: 100vh;
  }

  /*Fullscreen */

  .page.firmen-hide #my_map {
    height: 100vh;
    grid-column: 1/3;
  }
}

@media only screen and (min-aspect-ratio: 1/1) and (min-width: 1350px) {
  body.page .entry-content {
    grid-template-columns: 35vw 65vw;
  }
  .page.nav-show-22 #ast-hf-menu-1 a {
    font-size: 1.04545454545rem;
  }

  .page .entry-content h1 {
    padding-top: 30px;
    font-size: 40px;
  }

  .page .unternehmenseintrag {
    padding: 1em 0;
  }

  .page .unternehmenseintrag .text {
    padding-left: 20px;
  }

  .page #my_map {
    position: fixed;
    width: 65vw;
  }

  .page .leaflet-top.leaflet-right {
    top: 0;
  }
}

/* Smartphone Hochkant*/
@media only screen and (max-aspect-ratio: 1/1) and (max-width: 650px) {
  .page .entry-content ._brlbs-content-blocker ._brlbs-embed ._brlbs-caption {
    transform: none;
    position: static;
  }
}

/* Landscape kleinere screens*/
@media only screen and (min-aspect-ratio: 1/1) and (max-width: 1280px) {
  .page .entry-content ._brlbs-content-blocker ._brlbs-embed ._brlbs-caption {
    transform: none;
    position: static;
  }
}

@font-face {
  font-family: "Font Awesome 5 Free";
  src: url(/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff2);
}
