/* Detailseite Unternehmen */

.orange {
	color: var(--ast-global-color-0);
}

.single-unternehmen.single  .entry-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}

.single-unternehmen .post-thumb {
    padding: 30px;
    background-color: #fff;
	max-width: 360px;
	order: 1;
	margin-bottom: 20px;
}

.single-unternehmen.single .single-layout-1 .entry-header .wp-post-image {
    margin: 0 auto;
	max-width: 100%;
	width: 100%;
}

.single-unternehmen .ast-single-post-order {
	order: 2;
}

.single-unternehmen .ast-single-post-order h1 {
	font-size: 32px;
}

.single-unternehmen .ast-single-post-order h1 span {
	font-size: 20px;
    display: block;
}

.single-unternehmen  .internet  {
    padding: 10px 0;
}

.single-unternehmen  .internet a {
text-decoration: underline;
}

.single-unternehmen .abschaltung-angepasst {
    padding: 60px 0;
	border-bottom: 4px solid #F9C349;
}

.single-unternehmen .abschaltung-angepasst h3 {
	padding: 5px 0;
	font-size:1.1rem;
}


body.single-unternehmen h2 {
    font-size: 28px;
}

.single-unternehmen h2.dabei {
    padding-top: 50px;
}

.single-unternehmen .entry-content > p {
    font-style:italic;
}

.single-unternehmen .entry-content > p:first-child::before,
.single-unternehmen .entry-content > p:first-child::after {
    content: "\"";
}

.single-unternehmen .top-border {
    border-top: 4px solid #F9C349;
    margin-top: 60px;
}

.single-unternehmen .top-border h2 {
    padding: 60px 0 15px 0;
    margin-bottom: 0;
}

.single-unternehmen .zertifikat {
	padding-top: 60px;
}

.single-unternehmen .zertifikat h2 {
    display: block;
}

.single-unternehmen .zertifikat img {
    padding: 60px 0 15px 0;
}

.single-unternehmen .uber-uns span {
    font-weight: 800;
}

.single-unternehmen .zurueck {
    width: 250px;
    padding: 60px 0 15px 0;
    color: #F9C349;
    font-family: Poppins;
    font-weight: 800;
    border: 2px solid  #F9C349;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 50px;
    text-align: center;
}

.single-unternehmen .zurueck:hover,
.single-unternehmen .zurueck:active {
    border: 2px solid  #fff;
}

.single-unternehmen .zurueck a {
    color: #F9C349;
}

.single-unternehmen .zurueck.is_child {
    display: none;
}

/* Has Parent */

.is_child .entry-title::after {
    content: "Ein Unternehmen der G.U.T.-Unternehmensgruppe";
    display: block;
    padding-top: 5px 0 10px 0;
    font-size: 16px;
} 

.is_child.single-unternehmen .zurueck.top {
    border: none;
    font-weight: 400;
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
    padding: 5px 0;
    margin: 0;
    display: block;
}

.is_child.single-unternehmen .zurueck.is_child {
    display: block;
    width: max-content;
}

.is_child.single-unternehmen .zurueck {
    display: none;
}

@media only screen and (min-width: 920px) {

    .single-unternehmen .single-layout-1 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content 200px repeat(6, min-content);
    }

    .single-unternehmen.single .entry-header {
        grid-column: 1/3;
        grid-row: 1/3;
        display: grid;
        grid-template-rows: min-content 200px;
        grid-template-columns: 50% 50%;
        margin: 0;
    }

    .single-unternehmen .post-thumb {
        padding: 30px;
        grid-column: 1/2;
        grid-row: 1/3;
        background-color: #fff;
        justify-self: stretch;
        align-self: center;
        display: flex;
        margin-right: 30px;
        justify-content: center;
    }

    .single-unternehmen.single .entry-header .post-thumb img.wp-post-image {
        margin: 0;
        align-self: center;
    }

    .single-unternehmen .entry-header .ast-single-post-order {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .single-unternehmen .entry-header .ast-single-post-order h1{
        font-size: 50px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .single-unternehmen .entry-header .ast-single-post-order h1 span {
        font-size: 25px;
    }

    .single-unternehmen .adresse {
        grid-column: 2/3;
        grid-row: 2/3;
    }
	
	.single-unternehmen .abschaltung-angepasst {
		grid-column: 1/3;
	}
	
	    .single-unternehmen .dabei {
        grid-row: 4/5;
        grid-column: 1/3;
        padding: 60px 0 15px 0;
    }

    .single-unternehmen .entry-content {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .single-unternehmen .zertifikat a {
        display: flex;
    }
    .single-unternehmen .zertifikat h2 {
        padding-left: 20px;
        display: inline-block;
    }

    .single-unternehmen .zurueck {
        width: 450px;
        padding: 10px 40px;
    }
}